USE [TestDB]
GO
/****** Object:  Table [dbo].[student]    Script Date: 2025/12/9 11:03:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student](
	[学生ID] [int] IDENTITY(20250001,1) NOT NULL,
	[姓名] [varchar](50) NOT NULL,
	[性别] [char](2) NULL,
	[出生年月] [date] NULL,
	[电话] [varchar](20) NULL,
	[住址] [varchar](200) NULL,
	[语文] [int] NULL,
	[数学] [int] NULL,
	[英语] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[学生ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[student] ON 

INSERT [dbo].[student] ([学生ID], [姓名], [性别], [出生年月], [电话], [住址], [语文], [数学], [英语]) VALUES (20250001, N'灰太狼', N'男', CAST(N'2004-09-13' AS Date), N'13066808313', N'青青草原狼堡', 100, 100, 100)
INSERT [dbo].[student] ([学生ID], [姓名], [性别], [出生年月], [电话], [住址], [语文], [数学], [英语]) VALUES (20250003, N'喜羊羊', N'男', CAST(N'2004-05-22' AS Date), N'16763098446', N'青青草原羊村', 95, 95, 92)
INSERT [dbo].[student] ([学生ID], [姓名], [性别], [出生年月], [电话], [住址], [语文], [数学], [英语]) VALUES (20250009, N'沸羊羊', N'男', CAST(N'2003-04-21' AS Date), N'16599635552', N'青青草原羊村', 85, 90, 80)
SET IDENTITY_INSERT [dbo].[student] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [unique_student_phone]    Script Date: 2025/12/9 11:03:35 ******/
ALTER TABLE [dbo].[student] ADD  CONSTRAINT [unique_student_phone] UNIQUE NONCLUSTERED 
(
	[电话] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[student]  WITH CHECK ADD CHECK  (([性别]='女' OR [性别]='男'))
GO
