USE [master]
GO
/****** Object:  Database [TestDB]    Script Date: 2025/12/23 21:58:38 ******/
CREATE DATABASE [TestDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestDB', FILENAME = N'D:\SQLServer\SQL_Server_2022_Developer\soft\MSSQL16.MSSQLSERVER\MSSQL\DATA\TestDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestDB_log', FILENAME = N'D:\SQLServer\SQL_Server_2022_Developer\soft\MSSQL16.MSSQLSERVER\MSSQL\DATA\TestDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestDB]
GO
/****** Object:  Table [dbo].[course]    Script Date: 2025/12/23 21:58:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[course](
	[id] [int] NOT NULL,
	[课程名] [varchar](50) NOT NULL,
 CONSTRAINT [PK_课程表_课程ID] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[student]    Script Date: 2025/12/23 21:58:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student](
	[学生ID] [int] IDENTITY(20250001,1) NOT NULL,
	[姓名] [varchar](50) NOT NULL,
	[性别] [char](2) NULL,
	[出生年月] [date] NULL,
	[电话] [varchar](20) NULL,
	[住址] [varchar](200) NULL,
	[语文] [int] NULL,
	[数学] [int] NULL,
	[英语] [int] NULL,
	[学生照片] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[学生ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[teacher]    Script Date: 2025/12/23 21:58:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[teacher](
	[id] [int] IDENTITY(32001,1) NOT NULL,
	[姓名] [varchar](50) NOT NULL,
	[性别] [char](2) NULL,
	[特点] [varchar](50) NULL,
 CONSTRAINT [PK__teacher__3213E83FA69223F2] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[teacher_course_relation]    Script Date: 2025/12/23 21:58:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[teacher_course_relation](
	[teacher_id] [int] NOT NULL,
	[course_id] [int] NOT NULL,
 CONSTRAINT [PK_teacher_course] PRIMARY KEY CLUSTERED 
(
	[teacher_id] ASC,
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[course] ([id], [课程名]) VALUES (2, N'数学')
INSERT [dbo].[course] ([id], [课程名]) VALUES (3, N'英语')
INSERT [dbo].[course] ([id], [课程名]) VALUES (1, N'语文')
GO
SET IDENTITY_INSERT [dbo].[student] ON 

INSERT [dbo].[student] ([学生ID], [姓名], [性别], [出生年月], [电话], [住址], [语文], [数学], [英语], [学生照片]) VALUES (20250001, N'灰太狼', N'男', CAST(N'2004-09-13' AS Date), N'13066808313', N'青青草原狼堡1号', 100, 100, 100, N'htl.png')
INSERT [dbo].[student] ([学生ID], [姓名], [性别], [出生年月], [电话], [住址], [语文], [数学], [英语], [学生照片]) VALUES (20250003, N'喜羊羊', N'男', CAST(N'2004-05-22' AS Date), N'16763098446', N'青青草原羊村2号', 95, 95, 92, N'xyy.png')
INSERT [dbo].[student] ([学生ID], [姓名], [性别], [出生年月], [电话], [住址], [语文], [数学], [英语], [学生照片]) VALUES (20250009, N'沸羊羊', N'男', CAST(N'2003-04-21' AS Date), N'16599635552', N'青青草原羊村6号', 85, 90, 80, N'fyy.png')
SET IDENTITY_INSERT [dbo].[student] OFF
GO
SET IDENTITY_INSERT [dbo].[teacher] ON 

INSERT [dbo].[teacher] ([id], [姓名], [性别], [特点]) VALUES (32001, N'慢羊羊', N'男', N'博学多才，擅长发明，语文老师')
INSERT [dbo].[teacher] ([id], [姓名], [性别], [特点]) VALUES (32002, N'烈羊羊', N'男', N'体格健壮，逻辑缜密，数学老师')
INSERT [dbo].[teacher] ([id], [姓名], [性别], [特点]) VALUES (32003, N'花羊羊', N'女', N'温柔善良，音色优美，英语老师')
SET IDENTITY_INSERT [dbo].[teacher] OFF
GO
INSERT [dbo].[teacher_course_relation] ([teacher_id], [course_id]) VALUES (32001, 1)
INSERT [dbo].[teacher_course_relation] ([teacher_id], [course_id]) VALUES (32002, 2)
INSERT [dbo].[teacher_course_relation] ([teacher_id], [course_id]) VALUES (32003, 3)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_course_课程名]    Script Date: 2025/12/23 21:58:38 ******/
ALTER TABLE [dbo].[course] ADD  CONSTRAINT [UQ_course_课程名] UNIQUE NONCLUSTERED 
(
	[课程名] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [unique_student_phone]    Script Date: 2025/12/23 21:58:38 ******/
ALTER TABLE [dbo].[student] ADD  CONSTRAINT [unique_student_phone] UNIQUE NONCLUSTERED 
(
	[电话] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[student]  WITH CHECK ADD CHECK  (([性别]='女' OR [性别]='男'))
GO
ALTER TABLE [dbo].[teacher]  WITH CHECK ADD  CONSTRAINT [CK__teacher__性别__5CD6CB2B] CHECK  (([性别]='女' OR [性别]='男'))
GO
ALTER TABLE [dbo].[teacher] CHECK CONSTRAINT [CK__teacher__性别__5CD6CB2B]
GO
USE [master]
GO
